@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

body {
  font-family: "Marcellus SC", serif;
}

.active {
  background-color: #54644c;
  color: white;
  border-color: transparent;
}
